@model IEnumerable<WebApplication1.Models.TAREAS>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de tareas</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Crear Tarea", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">
                    <ul class="nav nav-tabs">
                        <li class="active"><a onclick="tab1()" data-toggle="tab">ASIGNADOS</a></li>
                        <li ><a onclick="tab2()" data-toggle="tab">PENDIENTES</a></li>
                    </ul>
                    <div class="tab-content" id="tabs">
                        <div class="tab-pane active" id="aaa">@Html.Action("Tab1")</div>
                        <div class="tab-pane " id="bbb"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/jquery-3.3.1.min.js"></script>@section Styles {
    <link href="~/Content/Datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/Awesome/awesome.min.css" rel="stylesheet" />
    <link href="~/Content/SweetAlert/sweetalert.css" rel="stylesheet" />

}

@section Scripts {
    <script src="~/Scripts/Datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Datatable/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/Datatable/buttons.flash.min.js"></script>
    <script src="~/Scripts/Datatable/jszip.min.js"></script>
    <script src="~/Scripts/Datatable/pdf.min.js"></script>
    <script src="~/Scripts/Datatable/pdf2.js"></script>
    <script src="~/Scripts/Datatable/html5.min.js"></script>
    <script src="~/Scripts/Datatable/print.min.js"></script>
    <script src="~/Scripts/SweetAlert/sweetalert.js"></script>

    <script src="~/Scripts/Datatable/datatables.min.js"></script>


    <script type="text/javascript">

        function RechazarTarea(tarea) {

            alert(tarea);
            swal({
                title: "¿ Desea Rechazar Tarea ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Continuar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            }, function () {

                $.ajax({
                    type: "POST",
                    url: "TAREAS/RechazarTarea",

                    data: {
                        tarea: tarea
                    },

                }).done(function (data) {

                    if (data.Result == "OK") {

                        swal({
                            title: "Transaccion generada con exito.",

                            text: "Tarea Rechazada.",

                            type: "success"
                        }, function () {
                            window.location.href = '/TAREAS/Index/'

                        });

                    }

                    else if (data.Result == "ERROR") {
                        swal({
                            title: "Error ",
                            text: "Transacción no realizada",
                        }

                            , function () {
                                // location.reload();
                            });
                    }

                }).fail(function () {

                    alert("Ups, algo malo ocurre, favor inténtalo mas tarde!.");
                })
            });
        }

        $(document).ready(function () {

            var table = $('#table').DataTable({

                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf'
                ]
            });

            $('#table').on('click', 'td.detalle-reporte-tareas', function () {
                //id del requerimiento
                var id_t = $(this).attr("id");
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#Reqflecha_roja" + id_t).hide();
                    $("#Reqflecha_azul" + id_t).show();

                }
                else {
                    // Open this row
                    TareasRequerimiento(row, id_t, tr);
                    $("#Reqflecha_azul" + id_t).hide();
                    $("#Reqflecha_roja" + id_t).show();
                }
            });

            function TareasRequerimiento(row, id_t, tr) {

                var tareaId = id_t;

                $.ajax({
                    url: "/TAREAS/_ListadoHitos",
                    data: {
                        tareaId: tareaId

                    },
                    type: "GET",
                    success: function (fooBarHTML) {



                        row.child(fooBarHTML).show();
                        tr.addClass('shown');

                        //var orden = $("#hiddenOrden").val();
                        //var limpiar = orden.replace("{", "");
                        //var limpiar2 = limpiar.replace("}", "")
                        //var orden = limpiar2;
                        //var str = orden.split("orden =");
                        //var ordenFinal = str[1];




                    },
                    error: function (xhr, status, errorThrown) {
                        //...
                    }
                });


            }

        });

        function tab1() {
            $.ajax({
                url: '@Url.Action("Tab1")',
                type: "POST",
                success: function (vista) {
                    $('#aaa').empty();
                    $('#bbb').empty();
                    $('#aaa').html(vista);

                    var table = $('#table').DataTable({

                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf'
                        ]
                    });

                    $('#table').on('click', 'td.detalle-reporte-tareas', function () {
                        //id del requerimiento
                        var id_t = $(this).attr("id");
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                            $("#Reqflecha_roja" + id_t).hide();
                            $("#Reqflecha_azul" + id_t).show();

                        }
                        else {
                            // Open this row
                            TareasRequerimiento(row, id_t, tr);
                            $("#Reqflecha_azul" + id_t).hide();
                            $("#Reqflecha_roja" + id_t).show();
                        }
                    });

                    function TareasRequerimiento(row, id_t, tr) {

                        var tareaId = id_t;

                        $.ajax({
                            url: "/TAREAS/_ListadoHitos",
                            data: {
                                tareaId: tareaId

                            },
                            type: "GET",
                            success: function (fooBarHTML) {



                                row.child(fooBarHTML).show();
                                tr.addClass('shown');

                                //var orden = $("#hiddenOrden").val();
                                //var limpiar = orden.replace("{", "");
                                //var limpiar2 = limpiar.replace("}", "")
                                //var orden = limpiar2;
                                //var str = orden.split("orden =");
                                //var ordenFinal = str[1];




                            },
                            error: function (xhr, status, errorThrown) {
                                //...
                            }
                        });


                    }

                    $('#aaa').addClass("active");
                    $('#bbb').removeClass("");
                    $('#ccc').removeClass("");
                },
                error: function (xhr, status, errorThrown) {

                }
            });
        }




        function tab2() {
            $.ajax({
                url: '@Url.Action("Tab2")',
                type: "POST",
                success: function (vista) {
                    $('#aaa').empty();
                    $('#bbb').empty();
                    $('#bbb').html(vista);

                    var table = $('#table').DataTable({

                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf'
                        ]
                    });

                    $('#table').on('click', 'td.detalle-reporte-tareas', function () {
                        //id del requerimiento
                        var id_t = $(this).attr("id");
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                            $("#Reqflecha_roja" + id_t).hide();
                            $("#Reqflecha_azul" + id_t).show();

                        }
                        else {
                            // Open this row
                            TareasRequerimiento(row, id_t, tr);
                            $("#Reqflecha_azul" + id_t).hide();
                            $("#Reqflecha_roja" + id_t).show();
                        }
                    });

                    function TareasRequerimiento(row, id_t, tr) {

                        var tareaId = id_t;

                        $.ajax({
                            url: "/TAREAS/_ListadoHitos",
                            data: {
                                tareaId: tareaId

                            },
                            type: "GET",
                            success: function (fooBarHTML) {



                                row.child(fooBarHTML).show();
                                tr.addClass('shown');

                                //var orden = $("#hiddenOrden").val();
                                //var limpiar = orden.replace("{", "");
                                //var limpiar2 = limpiar.replace("}", "")
                                //var orden = limpiar2;
                                //var str = orden.split("orden =");
                                //var ordenFinal = str[1];




                            },
                            error: function (xhr, status, errorThrown) {
                                //...
                            }
                        });


                    }

                    $('#bbb').addClass("active");
                    $('#aaa').removeClass("");
                    $('#ccc').removeClass("");
                },
                error: function (xhr, status, errorThrown) {

                }
            });
        }



    </script>
}