@model WebApplication1.Models.ROLES

<h3>Estas seguro de Eliminar Rol?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" for="Rut">ROL</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_ROL)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="Rut">DESCRIPCION</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_ROL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar Rol" class="btn btn-danger" /> 
        @*<input type="button" value="Borrar Usuario"  onclick="return BorrarArea();" />*@

        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
